@import '../../../../styles/consts.scss';

.addComment {
  border-radius: 5px;
  display: flex;
  gap: 15px;
  &.withPadding {
    padding: 10px 0 0 0;
  }

  &__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    &.isReply {
      width: 35px;
      height: 35px;
    }
  }

  &__writeBlock {
    flex: 1 1 auto;
    text-align: right;
    position: relative;
    z-index: 30;
  }

  &__text {
    font-size: 14px;
    position: relative;
    z-index: 1;
    background-color: transparent;
    width: 100%;
    resize: none;
    border: none;
    border-bottom: 2px solid #aaa;
    line-height: 20px;
    padding: 10px 0;
    overflow: hidden;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    &:focus {
      border-bottom: 2px solid #999;
    }
    &.isReply {
      font-size: 13.5px;
      padding: 5px 0;
      height: 20px;
    }
  }

  &__bottom {
    position: relative;
    z-index: 0;
    height: 35px;
  }
  &__bottom_body {
    position: absolute;
    left: 0;
    right: 0;
    top: -35px;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    &.active {
      top: 5px;
      opacity: 1;
    }
  }
  &__emojiButton {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: #eee;
    }
  }
  &__emojiPicker {
    text-align: left;
    background-color: #fff;
    position: absolute;
  }
  &__button {
    padding: 3px 10px;
    margin-right: 15px;
    border-radius: 5px;
    &.isReply {
      padding: 4px 5px;
      margin-right: 8px;
    }
  }
}

.yesButton {
  background-color: $mainColorDark;
  border: 1px solid $mainColorDark;
  color: #fff;
}

.cancelButton {
  background-color: transparent;
  border: 1px solid $mainColorDark;
  color: $mainColorDark;
}
