@import '../../../../../styles/consts.scss';

.root {
  display: flex;
  flex-direction: column;
  &__body {
    flex: 1 1 auto;
  }

  &__emojis {
    position: relative;
    margin: 10px 0;
    &::before,
    &::after {
      z-index: 1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 10px;
      right: 14px;
      background-image: linear-gradient(#fff, transparent);
    }
    &::after {
      top: auto;
      bottom: 0;
      background-image: linear-gradient(transparent, #fff);
    }
  }

  &__scrollArea {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    overflow: hidden;
    overflow-y: auto;
    @include scrollBar;
  }

  &__button {
    padding: 0 6px;
    flex: 0 0 33.333%;
    background-color: transparent;
    border-radius: 50px;
    height: 50px;
    display: flex;
    gap: 5px;
    align-items: center;
    span {
      font-size: 35px;
    }
    &:hover {
      background-color: $greenColorLighten;
    }
  }

  &__search {
    display: flex;
    padding: 0 5px;
    border-radius: 20px;
    border: 2px solid $mainBackColor;
    svg {
      width: 22px;
      path {
        stroke: $mainColor;
        fill: $mainColor;
      }
    }
  }

  &__input {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    min-width: none;
    padding: 5px 30px 5px 10px;
  }
}
.buttons {
  justify-content: flex-end;
}
