@import '../../styles/consts.scss';

.root {
  @include cardStyle;
  padding: 20px;
  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  &__item {
  }
}

.item {
  margin-bottom: 10px;
  &__img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
  }

  &__name {
    font-size: 14px;
    padding-left: 5px;
  }
}
