@import '../../styles/consts.scss';

.root {
  padding: 15px;
  padding-right: 0px;

  &__top {
    position: relative;
    z-index: 51;
    padding: 0 15px;
    display: flex;
    justify-content: flex-end;
  }

  &__sortBy {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    transition: 0.2s;
    color: $grayColorLighten;

    svg {
      width: 22px;

      path {
        transition: 0.2s;
        stroke: $grayColorLighten;
        fill: $grayColorLighten;
      }
    }

    &:hover {
      color: $grayColor;

      svg {
        path {
          stroke: $grayColor;
          fill: $grayColor;
        }
      }
    }
  }
}

.sortTypes {
  &__button {
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }
  }
}
