.form {
  align-self: stretch;
  text-align: center;
  &__text {
    margin-bottom: 10px;
  }
  &__input {
    background-color: #fff;
    margin-bottom: 20px;
  }
  &__button {
    padding: 3px 6px;
    font-size: 14px;
  }
  &__button:first-child {
    margin-right: 20px;
  }
  &__button:last-child {
    margin-left: 20px;
  }
}
